.ChatContent {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-left: 350px;

    @media (max-width: 768px) {
        margin-left: 270px;
    }

    @media (max-width: 640px) {
        margin-left: 0px;
    }
}

.ChatHeader {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
}

.ChatHeaderUserInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChatHeaderContent {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;

    @media (max-width: 768px) {
        margin-top: 64px;
    }

    @media (max-width: 599px) {
        margin-top: 56px;
    }
}

.ChatHeaderImg {
    border-radius: 100%;
    width: 90px !important;
    height: 90px !important;
}

.ChatHeaderDescription {
    margin-left: 25px;
}

.ChatFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px;
}

.ChatInput {
    position: relative;
    width: 100%;
    padding: 5px 15px;
}

.ChatButton {
    border-radius: 0px 10px 10px 0 !important;
}

.ChatMessages {
    margin-top: 111px;
    margin-bottom: 65px;
    height: calc(100% - 176px);
    padding: 20px;
    display: flex;
    flex-direction: column;

    div {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.maxWidthBigNav {
    max-width: calc(100% - 590px);

    @media (max-width: 768px) {
        max-width: calc(100% - 270px);
    }

    @media (max-width: 640px) {
        max-width: 100%;
    }
}

.maxWidthSmallNav {
    max-width: calc(100% - 431px);

    @media (max-width: 768px) {
        max-width: calc(100% - 270px);
    }

    @media (max-width: 640px) {
        max-width: 100%;
    }
}

.ChatListCallActions {
    display: flex;
    flex-wrap: nowrap;
}