.CommentForm {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.Avatar {
    margin-right: 10px;
}

.Input {
    margin-right: 10px !important;
}

.Button {
    height: 40px !important;
}