.ModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.Modal {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.ModelAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.ModalActionCall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}