.CallFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5px 5px;

    button {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 550px) or (max-height: 650px) {
        padding: 15px 5px 5px;
    }
}