.CallImg {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.CallWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px 5px;
    justify-content: center;
}