.ChatPage {
    display: flex;
}

.NotActiveChat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 350px;
    text-align: center;

    @media (max-width: 768px) {
        margin-left: 270px;
    }

    @media (max-width: 640px) {
        display: none;
    }
}

.ChatList {
    position: fixed;
    min-width: 350px;
    padding: 20px;
    min-height: 100vh;
    z-index: 1;

    @media (max-width: 768px) {
        padding: 5px;
        min-width: 270px;
        margin-top: 64px;
    }

    @media (max-width: 640px) {
        width: 100%;
        border-right: none;
    }
}

.ChatListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer !important;

    &:last-child {
        margin-bottom: 0;
    }
}

.ChatImg {
    width: 70px !important;
    height: 70px !important;
    border-radius: 100%;
}

.ChatContent {
    margin-left: 20px;
}

.ChatListContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotificationBd {
    background-color: #7431ca;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.Notification {
    background-color: #916ec9;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}