.AuthWrapper {
    display: flex;
    min-height: 100vh;

    @media (max-width: 768px) {
        display: block;
    }
}

.PageWrapper {
    width: 100%;
}

.BigNavMargin {
    margin-left: 240px;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.MiniNavMargin {
    margin-left: 81px;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}